---
import ProjectTab from "./project-tab.svelte";

const tabs = [
  {
    name: "All",
    url: "/projects/all",
  },
  {
    name: "Projects",
    url: "/projects",
  },
  {
    name: "Experiments",
    url: "/projects/experiments",
  },
];
---

<script></script>

<div class="flex w-fit justify-center items-center">
  {
    tabs.map((tab, index) => (
      <>
        <ProjectTab class="px-3" {tab} active={Astro.url.pathname === tab.url}></ProjectTab>
        {index < tabs.length - 1 && <div class="text-gray-400">/</div>}
      </>
    ))
  }
</div>
