---
// get all permalinks with weird slug name
export const prerender = true;
import {
  getCollection,
} from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Container from "../../layouts/Container.astro";
import { dateRegex } from "../../lib/constants";
import { makeDateStringIntoDate, formatDate } from "../../lib/utils";
import LabNote from "../../components/lab-note.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("lab");
  const ret = blogEntries.map((entry) => ({
    params: {
      slug:
        dateRegex.test(entry.slug) && entry.collection === "lab"
          ? entry.slug.replace(dateRegex, "").slice(1)
          : entry.slug,
    },
    props: {
      entry,
      date:
        dateRegex.test(entry.id) && entry.collection === "lab"
          ? makeDateStringIntoDate(entry.id)
          : null,
    },
  }));
  return ret;
}

const { entry, date } = Astro.props;

const title = entry.data.title ?? entry.id.split(".")[0].replace(/-/g, " ");
---
<Layout title={title}>
  <Container>
    <div class="max-w-[45rem] mx-auto">
    <LabNote note={entry}  />
      </div>
  </Container>
</Layout>
