@font-face {
  src:
    url("../fonts/GimletSansVariable[ital,opsz,wght].woff2") format("woff2"),
    url("../fonts/GimletSansVariable[ital,opsz,wght].woff") format("woff");
  font-family: "Gimlet Sans Variable Web";
  font-weight: 300 900;
}

p {
  /* set optical size specifically since */
  /* `font-optical-sizing: auto` implementation differs */
  /* across browsers */

  font-variation-settings: "opsz" 36;
}

em {
  font-style: italic;

  /* unfortunately we still have to set the variation explicitly  */
  /* https://web.dev/variable-fonts/#using-italics-and-obliques */

  font-variation-settings: "ital" 1;

  /* don’t artificially slant */

  font-synthesis: none;
}

@font-face {
  src:
    url("../fonts/RoslindaleExtendedVariable-VF.woff2") format("woff2"),
    url("../fonts/RoslindaleExtendedVariable-VF.woff") format("woff");
  font-family: "Roslindale Display Wide Web";
  font-style: normal;
  font-weight: normal;
}

h1,
h2,
h3,
h4 {
  /* text-wrap: balance; */
}

.text-balance {
  text-wrap: balance;
}

:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}
