---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex items-center flex-col justify-center w-full h-full p-12">
    <h1 class="font-display font-bold mb-4">This page is not available</h1>
    <p>sorry!</p>
  </div>
</Layout>

<style>
  div {
    @apply text-center p-12;
  }
  h1 {
    @apply text-9xl leading-[1.1];
  }
</style>
