<h1 class="font-display text-4xl sm:text-5xl font-bold leading-none mb-4">
  <slot />
</h1>

<style>
  h1 {
    /* font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em; */
  }
</style>
