<nav class="bg-white text-black sm:px-6 p-2 flex gap-4 font-sans">
  <a href="/">Index</a>
  <a href="/projects">Projects</a>
  <a href="/notes">Notes</a>
  <a
    href="https://guscuddy.substack.com"
    rel="noopener noreferrer"
    target="_blank">Substack</a
  >
</nav>

<style>
  nav a {
    @apply font-medium hover:text-rose-500;
  }
</style>
