---
interface Props {
  title?: string;
  description?: string;
  meta?: string;
  variant?: "display" | "sans";
}

const { title, description, meta, variant } = Astro.props;
---

<article class="text-white h-full font-sans">
  <div class="h-full flex flex-col border border-white overflow-hidden mx-auto">
    {
      title && (
        <div class="bg-white text-black p-4">
          <div class="flex flex-wrap gap-2 items-center justify-between">
            <div class="flex flex-col gap-1.5">
              <h1
                class={`font-bold ${
                  variant === "display"
                    ? "font-display text-3xl md:text-4xl lg:text-5xl"
                    : "font-sans text-2xl"
                }`}
              >
                {title}
              </h1>
              {description && (
                <p class="text-lg/5 hidden sm:inline opacity-75 text-balance mx-auto max-w-prose">
                  {description}
                </p>
              )}
            </div>
            <slot name="meta">
              {meta && (
                <span class="opacity-75 shrink-0 text-base">{meta}</span>
              )}
            </slot>
          </div>
        </div>
      )
    }
    <div class="p-4 md:p-5 flex flex-col gap-4 grow justify-center">
      <slot />
    </div>
  </div>
</article>
