---
import type { CollectionEntry } from "astro:content";

interface Props {
  writing: Array<{
    href: string;
    title: string;
    date: Date;
    viewTransitionName?: string;
    labNoteTag?: boolean;
  }>;
  //   writing: Array<CollectionEntry<"notes">> | Array<CollectionEntry<"lab">>;
}

const { writing } = Astro.props;
---

<ul class="list-none p-0 max-w-prose mx-auto">
  {
    writing.map((note, index) => (
      <li
        class={`border-white/10 py-2 flex justify-between items-center ${
          index === writing.length - 1 ? "" : "border-b"
        }`}
      >
        <div class="flex items-center">
          <a
            style={
              note.viewTransitionName
                ? `view-transition-name: ${note.viewTransitionName}`
                : ""
            }
            href={note.href}
          >
            {note.title}
          </a>
          {note.labNoteTag && (
            <span class="text-xs bg-stone-100 text-stone-500 rounded-full px-2 ml-2">
              Lab Note
            </span>
          )}
        </div>
        <span class="text-base text-stone-400 tabular-nums">
          {note.date.toLocaleDateString("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })}
        </span>
      </li>
    ))
  }
</ul>
