---
export const prerender = false;
import H1 from "../../components/H1.astro";
import ProjectTab from "../../components/projects/project-tab.svelte";
import Header from "../../components/Header.astro";
import Window from "../../components/Window.astro";
import Container from "../../layouts/Container.astro";
import Layout from "../../layouts/Layout.astro";
import { dateRegex } from "../../lib/constants";
import { getCollection } from "astro:content";
import WritingTabs from "../../components/writing-tabs.astro";
import { makeDateStringIntoDate } from "../../lib/utils";
import WritingList from "../../components/writing-list.astro";
const lookup: Record<string, Date> = {};
const everything = [
  ...(await getCollection("notes", ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  })),
  ...(await getCollection("lab")),
];
const notes = everything
  .sort((a, b) => {
    const aDateField = "pubDate" in a.data ? "pubDate" : "date";
    const aDate = (a.data as any)[aDateField]
      ? new Date(a.data[aDateField])
      : makeDateStringIntoDate(a.id);
    lookup[a.id] = aDate;
    // shh, don't tell anyone
    const bDate =
      b.data.pubDate ?? b.data.date
        ? new Date(b.data.pubDate ?? b.data.date)
        : makeDateStringIntoDate(b.id);
    lookup[b.id] = bDate;

    return bDate.valueOf() - aDate.valueOf();
  })
  .map((note) => {
    return {
      href:
        note.collection === "lab"
          ? `/notes/${note.slug}`
          : dateRegex.test(note.slug)
            ? `/writing/${note.slug.replace(dateRegex, "").slice(1)}`
            : // If the filename doesn't contain a date, make our url /notes/:s;ig
              !dateRegex.test(note.id)
              ? `/writing/${note.slug}`
              : // Otherwise, just use the explicitly set slug
                note.slug,
      title: note.data.title,
      date: lookup[note.id] ?? new Date(),
      labNoteTag: note.collection === "lab",
    };
  });
---

<Layout title="Notes">
  <Container>
    <Header>
      <H1 class="font-display text-balance">Writing</H1>
      <WritingTabs />
      <div class="bg-white text-black px-4 mt-4 py-2 w-fit mx-auto">
        <p>A feed of all my notes in one place.</p>
      </div>
    </Header>
    <div class="">
      <WritingList writing={notes} />
    </div>
  </Container>
</Layout>
